*{
    background-color: blue;
    margin: 0;
}
h1{
    color: white;
    text-align: center;
    border: 1px solid white;
    margin: 10px;
}
.main_container{
    border: 1px solid white;
    padding: 10px 10px 100% 10px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
     margin: 10px;
}
span{
    display: flex;
    gap: 10px;
   
}
.copyright{
    color: gainsboro;
    position: fixed;
    bottom: 0;
   
}